@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

.nav {
  display: flex;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.aboutLink {
  color: inherit;
  text-decoration: none;
}
.nav ul {
  display: flex;
  justify-content: center;
}
.link3 {
  margin-right: 200px;
}
.logo {
  font-size: 24px;
  color: #f9faf8;
  margin-right: auto;
  margin-left: 100px;
}

.link {
  font-size: 18px;
  color: #939599;
}

.footer footer,
.hero-section {
  background-color: #1f2937;
}
nav {
  background-color: #2b3139;
}
nav,
nav ul {
  width: 100%;
  height: 100%;
}
div ul {
  display: flex;
  list-style-type: none;
  gap: 25px;
  align-items: center;
  justify-content: flex-end;
}

.hero-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  flex: 1 1 auto;
  justify-content: center;
  gap: 20px;
  height: 450px;
  margin-top: 50px;
}

.herotext * {
  padding: 3px;
}

.hero-section h2 {
  font-size: clamp(16px, 1.5rem, 26px);
  font-weight: 900;
  color: #f9faf8;
  max-width: 400px;
}

.hero-section p {
  font-size: 18px;
  color: #939599;
  max-width: 450px;
}

.logInButton {
  border-style: solid;
  border: 1px dotted black;
}
.strikethrough {
  text-decoration: line-through;
  display: inline;
}
.logInButton:hover {
  background-color: #04386b;
  border: 2px dotted rgb(223, 210, 210);
}

button {
  border-radius: 4px;
  min-width: 80px;
  margin-left: 2px;
  margin-top: 5px;
  border-style: none;
  color: #f9faf8;
  background-color: #3882f6;
}
.hero-section img {
  max-width: 450px;
  height: auto;
  flex-shrink: 2;
}

.infotitle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.aboutme {
  background-color: #cdd0d6;
  font-style: italic;
  color: #1f2937;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.aboutme p {
  padding: 20px;
  max-width: 60%;
  text-align: center;
  justify-content: center;
  flex: 1 1 auto;
}
.info {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 75px;
}
.disclaimer {
  font-size: 9px;
  text-align: center;
}
.infoitem {
  display: flex;
  flex-direction: column;
  max-width: 20%;
  flex-shrink: 1;
}

.infotitle p {
  font-size: clamp(15px, 4vw, 36px);
  color: #1f2937;
  font-weight: 700;
}
.infosubtext {
  flex-shrink: 2;
  font-size: clamp(13px, 3vw, 18px);
  text-align: center;
}

.info img {
  border: 5px solid blue;
  border-radius: 10%;
}

.quote {
  background-color: #cdd0d6;
  font-style: italic;
  color: #1f2937;
  padding: 80px 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  max-height: 300px;
  text-align: center;
}

.quote .aquote {
  max-width: 600px;
  min-width: 200px;
  font-size: clamp(15px, 4vw, 25px);
  align-self: center;
}

.quote .author {
  max-width: 600px;
  min-width: 200px;
  font-weight: 900;
  align-self: flex-end;
  font-size: clamp(1rem, 1vw, 2rem);
  margin-right: 10%;
  margin-top: 3px;
}

.calltoarms {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calltoarms div {
  display: flex;
  background-color: #3882f6;
  flex-wrap: wrap;
  align-items: center;
  color: #f9faf8;
  flex: 1;
  padding: 20px;
  max-width: 60%;
  min-height: 120px;
  border-radius: 10px;
}

.calltoarms p {
  font-size: clamp(5px, 2vw, 15px);
}
.calltoarms div h4 {
  font-weight: 700;
  font-size: clamp(3px, 4vw, 1rem);
}
.calltoarms button {
  border: 2px solid wheat;
  margin: auto;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  height: 30px;
}

.footer footer {
  color: #cdd0d6;
}
