*,
*::before,
*::after {
    box-sizing: border-box;
}


* {
    margin: 0;
    padding: 0; 
}

body {
    text-align: center;
    transition: background-color 1s, color 1s;
}

h3 {
    margin-top: 25px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    max-width: 90vw;
    padding: 1rem;
    background-color: inherit;
    border: none;
}

.dopamine-img {
    height: auto;
    max-width: 80%; /* control size */
    min-width: 100px;
    object-fit: contain;
}

.btn:hover {
    animation: colorCycle 5s infinite;
}
.topmedia {
    display: flex;
    justify-content: center;
}
.undermedia{
    max-width: 50%;
    justify-content: center;
    display: flex;
    flex: 1;
}



.exc {
    max-width: 200px;
    height: 150px;
    transition: opacity 0.4s ease, visibility 0.4s ease;
    flex: 2;
}

@keyframes colorCycle {
    0%   { background-color: red; }
    25%  { background-color: orange; }
    50%  { background-color: yellow; }
    75%  { background-color: green; }
    100% { background-color: blue; }
}
.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease;
}

.visible {
    opacity: 1;
    visibility: visible;
}

.calculator-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

input {
    gap:10px;
    width: 200px;
    align-items: center;
    margin: 10px;
}

.operator { 
    width: 60px;
    height: 20px;
    
}

body.default{
    background-color: rgb(22, 21, 21);
    transition: 1s;
}
body.darkmode {
    background-color: rgb(39, 35, 35);
    color: aliceblue;
    transition: 1s;
}
body.lightmode {
    background-color: rgb(88, 202, 202);
    color: rgb(27, 27, 27);
    transition: 1s;
}




